@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root {
    --primary-color: rgb(211, 211, 211);
}

body {
  background: #000000;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

.navbar {
    background: rgb(255, 255, 255);
    padding: 1em;

    .logo {
        text-decoration: none;
        font-weight: bold;
        color: rgb(0, 0, 0);
        font-size: 1.2em;

        span {
            color: var(--primary-color)
        }
    }
    nav {
        display: none;
    }
    
    .container {
        display: flex;
        place-content: space-between;
    }

    .mobile-menu {
        cursor: pointer;
    }

}

a {
    color: rgb(92, 0, 197);
}

section {
    padding: 5em 2em;

}

.hero {
    text-align: center;
}

.features-sections {
    text-align: center;
}

.jersey {
    text-align: center;
}
