@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&display=swap");
:root {
  --primary-color: rgb(153, 27, 27);
}

body {
  margin: 0;
  background-color: black;
  font-family: 'Roboto Condensed', sans-serif;
}

.navbar {
  background: red;
  padding: .8em .5em;
  margin: 0;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.2em;
}

.navbar .logo span {
  color: var(--primary-color);
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

.primary-nav {
  list-style-type: none;
}

.secondary-nav {
  list-style-type: none;
}

a {
  color: #5300d8;
}

section {
  padding: 5em 2em;
}

.features-sections {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 1.3em;
  margin: -5%;
  margin-left: -3%;
}

.features-sections-aboutme {
  text-align: center;
}

.jersey {
  text-align: center;
}

.left-col {
  text-align: center;
}

.subhead {
  font-style: oblique;
  font-size: larger;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: .3em;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffdbdb;
}

.subhead2 {
  font-style: oblique;
  font-size: larger;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: .3em;
  text-align: center;
  margin-left: 4%;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffdbdb;
}

.primary-cta {
  color: #9f36c9;
  text-decoration: none;
  text-transform: uppercase;
  border-style: solid;
  border-color: red blue blue red;
  text-align: center;
  padding: .0em .3em;
  font-size: 1.3em;
  padding-top: 0.1%;
  display: inline-block;
  margin-right: 23%;
  margin-top: -8em;
}

.subscribe-cta {
  border-color: #0303be rgba(230, 0, 0, 0.493) red blue;
  color: #9f36c9;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  text-align: right;
  padding: .2em;
  border-radius: .5em;
  border-style: solid;
}

h1 {
  font-size: 1.5em;
  line-height: .0em;
  margin-top: .2em;
}

nav.menu-btn {
  display: block;
}

nav {
  background-color: #00039e;
  position: fixed;
  z-index: 999;
  right: 0;
  top: 0;
  height: 100vh;
  padding: 1em;
}

nav ul.primary-nav {
  margin-top: 5em;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: right;
}

nav li a:hover {
  font-weight: bold;
}

.mobile-menu-exit {
  float: right;
  margin: .5em;
  cursor: pointer;
}

.team-cta {
  color: #e60f00;
  background-color: black;
  font-size: 1.5em;
  text-align: center;
  list-style-type: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: oblique;
  border: solid;
  border-color: red blue blue red;
  border-radius: .9em;
  border-bottom-style: hidden;
  letter-spacing: .3em;
  font-weight: bold;
}

.cap {
  color: white;
}

.main {
  color: white;
}

.flex {
  color: white;
}

.sub {
  color: white;
}

.jersey {
  color: white;
}

.gb {
  text-align: center;
}

.cmg {
  text-align: center;
}

.twitch {
  text-align: center;
  margin-right: 3%;
}

.logo {
  margin-left: 2%;
}

.match {
  margin-bottom: 1%;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: oblique;
  color: blue;
  font-size: 1.3em;
  margin-left: 1%;
}
/*# sourceMappingURL=main.css.map */
